<?php
$config['domainmap'] = array(
	'example.com' => array(
		'host' => 'ssl://mail.example.com:50993',
		'username_style' => 'local', // default is 'full'
		'smtp_host' => 'tls://%u:%p@localhost:587',
		'add_plugins' => array('managesieve'),
		'sieve_host' => 'mail.example.com',
		'sieve_port' => 4190,
		'sieve_usetls' => true,
	),
	'example.jp' => array(
		'host' => 'mail.example.jp',
	),
);
?>
